<!-- `src/app/components/sidebar/sidebar.component.html` -->
<aside [class.w-16]="isSidebarCollapsed" [class.w-64]="!isSidebarCollapsed"
  class="fixed left-0 top-16 h-[calc(100vh-4rem)] bg-white dark:bg-slate-50 shadow-lg transition-all duration-300 overflow-hidden z-40">
  <nav class="mt-4">
    <button
      *ngFor="let item of menuItems"
      (click)="handleMenuItemClick(item.id)"
      [attr.aria-label]="item.label"
      [ngClass]="{
        'bg-blue-100 dark:bg-blue-900 text-blue-600 dark:text-blue-300': activeMenuItem === item.id,
        'text-gray-900 dark:text-gray-950 hover:bg-gray-700 dark:hover:bg-gray-700': activeMenuItem !== item.id
      }"
      class="w-full flex items-center px-4 py-3 transition-colors"
    >
      <span class="flex-shrink-0">
        <!-- Icons for menu items -->
        <!-- <ng-container>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m0 0l7 7m-3 7v1a1 1 0 001 1h3a1 1 0 001-1v-4M7 21h10a2 2 0 002-2V8l-7-7-7 7v11a2 2 0 002 2z"></path></svg>
        </ng-container> -->
        
      </span>
      <span
        [ngClass]="{ 'opacity-0': isSidebarCollapsed, 'opacity-100': !isSidebarCollapsed }"
        class="ml-4 transition-opacity duration-300"
      >
        {{ item.label }}
      </span>
    </button>
  </nav>
</aside>