@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset input styles */
@layer base {
  input[type="text"] {
    @apply px-1 py-1 rounded-[2px]; /* padding 2 + bo góc 2px */
    height: 34px;

  }
  button{
    @apply px-0 px-0  rounded-[2px]; /* padding 2 + bo góc 2px */
    height: 34px;
    
    
  }
  button>svg {
    height: 32px;
  }
  
}
.debug {
  border: solid 4px red !important;
}
.main-layout {
  border: solid 1px  !important;
}
@layer utilities {
  .dock-full {
    @apply flex flex-col h-full min-h-0;
  }
}