@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset input styles */
input {
  border-radius: inherit;
}
.debug {
  border: solid 2px red !important;
}
.main-layout {
  border: solid 1px  !important;
}