@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
/* Reset input styles */
input {
  border-radius: inherit;
}
.debug {
  border: solid 2px red !important;
}
.main-layout {
  border: solid 1px  !important;
}
@layer utilities {
  .dock-full {
    display: flex;
    flex-direction: column;
    height: 100%; /* hoặc height: 100%; nếu parent có set sẵn chiều cao */
    
    
  }

  .scrollbar-visible {
    -ms-overflow-style: scrollbar; /* IE và Edge */
    scrollbar-width: thin; /* Firefox */
  }
  .scrollbar-visible::-webkit-scrollbar {
    display: block; /* Webkit (Chrome, Safari) */
    width: 8px;
    background: #f1f1f1;
  }
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
}
