.search-container {
    display: flex;
    // max-width: 400px;
    // margin: 50px auto;
  }

  /* Giao diện textbox */
  .search-input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  .search-input:focus {
    border-color: #007BFF;
  }

  /* Giao diện nút tìm kiếm */
  .search-button {
    // padding: 10px 20px;
    // font-size: 16px;
    // border: 2px solid #007BFF;
     
    // color: white;
     border-radius: 0 5px 5px 0;
    // cursor: pointer;
     transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }